.search-input{
    width: 40%;
    height: 40px;
    margin: 25px auto;
    padding: 3px 20px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.25rem;
    background: transparent;
    border-bottom: 3px solid #fff;
    color: #fff;
}

@media (max-width: 600px) {
    .search-input{
        width: 80%;
    }
}

@media (max-width: 900px) {
    .search-input{
        width: 60%;
    }
}